@model FinhubResponseViewModel
@{
	ViewBag.Title = "Home";
}

<div class="box">
	<div class="flex">
		<div class="stock-title text-blue">@Model.StockName</div>
		<div class="stock-title text-blue">(@Model.StockSymbol)</div>
	</div>
	<div class="stock-price"> $ @Model.CurrentPrice</div>
</div>
